dphidxi3( 1)=-((-1+delta+xi(1))*(-1+delta+xi(2))*(-1+delta-xi(1)-xi(2)-2*xi(3)))/(8.*(-1+delta)**4)
dphidxi3( 2)=-((-1+delta-xi(1))*(-1+delta+xi(2))*(-1+delta+xi(1)-xi(2)-2*xi(3)))/(8.*(-1+delta)**4)
dphidxi3( 3)=-((-1+delta-xi(1))*(-1+delta-xi(2))*(-1+delta+xi(1)+xi(2)-2*xi(3)))/(8.*(-1+delta)**4)
dphidxi3( 4)=-((-1+delta+xi(1))*(-1+delta-xi(2))*(-1+delta-xi(1)+xi(2)-2*xi(3)))/(8.*(-1+delta)**4)
dphidxi3( 5)=((-1+delta+xi(1))*(-1+delta+xi(2))*(-1+delta-xi(1)-xi(2)+2*xi(3)))/(8.*(-1+delta)**4)
dphidxi3( 6)=((-1+delta-xi(1))*(-1+delta+xi(2))*(-1+delta+xi(1)-xi(2)+2*xi(3)))/(8.*(-1+delta)**4)
dphidxi3( 7)=((-1+delta-xi(1))*(-1+delta-xi(2))*(-1+delta+xi(1)+xi(2)+2*xi(3)))/(8.*(-1+delta)**4)
dphidxi3( 8)=((-1+delta+xi(1))*(-1+delta-xi(2))*(-1+delta-xi(1)+xi(2)+2*xi(3)))/(8.*(-1+delta)**4)
dphidxi3( 9)=(((-1+delta)**2-xi(1)**2)*(-1+delta+xi(2)))/(4.*(-1+delta)**4)
dphidxi3(10)=((-1+delta-xi(1))*((-1+delta)**2-xi(2)**2))/(4.*(-1+delta)**4)
dphidxi3(11)=(((-1+delta)**2-xi(1)**2)*(-1+delta-xi(2)))/(4.*(-1+delta)**4)
dphidxi3(12)=((-1+delta+xi(1))*((-1+delta)**2-xi(2)**2))/(4.*(-1+delta)**4)
dphidxi3(13)=-((-1+delta+xi(1))*(-1+delta+xi(2))*xi(3))/(2.*(-1+delta)**4)
dphidxi3(14)=-((-1+delta-xi(1))*(-1+delta+xi(2))*xi(3))/(2.*(-1+delta)**4)
dphidxi3(15)=-((-1+delta-xi(1))*(-1+delta-xi(2))*xi(3))/(2.*(-1+delta)**4)
dphidxi3(16)=-((-1+delta+xi(1))*(-1+delta-xi(2))*xi(3))/(2.*(-1+delta)**4)
dphidxi3(17)=-(((-1+delta)**2-xi(1)**2)*(-1+delta+xi(2)))/(4.*(-1+delta)**4)
dphidxi3(18)=-((-1+delta-xi(1))*((-1+delta)**2-xi(2)**2))/(4.*(-1+delta)**4)
dphidxi3(19)=-(((-1+delta)**2-xi(1)**2)*(-1+delta-xi(2)))/(4.*(-1+delta)**4)
dphidxi3(20)=-((-1+delta+xi(1))*((-1+delta)**2-xi(2)**2))/(4.*(-1+delta)**4)
