dphidxi2(1)=-0.125d0*aux(2)*aux(1)*aux(6)
dphidxi2(2)=-0.125d0*aux(3)*aux(1)*aux(6)
dphidxi2(3)=-dphidxi2(2)
dphidxi2(4)=-dphidxi2(1)
dphidxi2(5)=-0.125d0*aux(2)*aux(1)*aux(7)
dphidxi2(6)=-0.125d0*aux(3)*aux(1)*aux(7)
dphidxi2(7)=-dphidxi2(6)
dphidxi2(8)=-dphidxi2(5)
