aux(1)=1.0d0-delta
aux(2)=1.0d0/(aux(1)**4)
aux(3)=2.0d0*xi(1)+aux(1)
aux(4)=2.0d0*xi(1)-aux(1)
aux(5)=xi(2)+aux(1)
aux(6)=xi(2)-aux(1)
aux(7)=0.25d0*aux(2)*xi(2)
aux(8)=aux(2)*aux(5)*aux(6)
aux(9)=-0.5d0*aux(8)
aux(10)=-aux(2)*xi(1)*xi(2)
dphidxi1(1)=aux(7)*aux(4)*aux(6)
dphidxi1(2)=aux(7)*aux(3)*aux(6)
dphidxi1(3)=aux(7)*aux(3)*aux(5)
dphidxi1(4)=aux(7)*aux(4)*aux(5)
dphidxi1(5)=aux(10)*aux(6)
dphidxi1(6)=aux(9)*aux(3)
dphidxi1(7)=aux(10)*aux(5)
dphidxi1(8)=aux(9)*aux(4)
dphidxi1(9)=2.0d0*xi(1)*aux(8)
