dphidxi2( 1)=-((-1+delta+xi(1))*(-1+delta-xi(1)-2*xi(2)-xi(3))*(-1+delta+xi(3)))/(8.*(-1+delta)**4)
dphidxi2( 2)=-((-1+delta-xi(1))*(-1+delta+xi(1)-2*xi(2)-xi(3))*(-1+delta+xi(3)))/(8.*(-1+delta)**4)
dphidxi2( 3)=((-1+delta-xi(1))*(-1+delta+xi(1)+2*xi(2)-xi(3))*(-1+delta+xi(3)))/(8.*(-1+delta)**4)
dphidxi2( 4)=((-1+delta+xi(1))*(-1+delta-xi(1)+2*xi(2)-xi(3))*(-1+delta+xi(3)))/(8.*(-1+delta)**4)
dphidxi2( 5)=-((-1+delta+xi(1))*(-1+delta-xi(3))*(-1+delta-xi(1)-2*xi(2)+xi(3)))/(8.*(-1+delta)**4)
dphidxi2( 6)=-((-1+delta-xi(1))*(-1+delta-xi(3))*(-1+delta+xi(1)-2*xi(2)+xi(3)))/(8.*(-1+delta)**4)
dphidxi2( 7)=((-1+delta-xi(1))*(-1+delta-xi(3))*(-1+delta+xi(1)+2*xi(2)+xi(3)))/(8.*(-1+delta)**4)
dphidxi2( 8)=((-1+delta+xi(1))*(-1+delta-xi(3))*(-1+delta-xi(1)+2*xi(2)+xi(3)))/(8.*(-1+delta)**4)
dphidxi2( 9)=(((-1+delta)**2-xi(1)**2)*(-1+delta+xi(3)))/(4.*(-1+delta)**4)
dphidxi2(10)=-((-1+delta-xi(1))*xi(2)*(-1+delta+xi(3)))/(2.*(-1+delta)**4)
dphidxi2(11)=-(((-1+delta)**2-xi(1)**2)*(-1+delta+xi(3)))/(4.*(-1+delta)**4)
dphidxi2(12)=-((-1+delta+xi(1))*xi(2)*(-1+delta+xi(3)))/(2.*(-1+delta)**4)
dphidxi2(13)=((-1+delta+xi(1))*((-1+delta)**2-xi(3)**2))/(4.*(-1+delta)**4)
dphidxi2(14)=((-1+delta-xi(1))*((-1+delta)**2-xi(3)**2))/(4.*(-1+delta)**4)
dphidxi2(15)=-((-1+delta-xi(1))*((-1+delta)**2-xi(3)**2))/(4.*(-1+delta)**4)
dphidxi2(16)=-((-1+delta+xi(1))*((-1+delta)**2-xi(3)**2))/(4.*(-1+delta)**4)
dphidxi2(17)=(((-1+delta)**2-xi(1)**2)*(-1+delta-xi(3)))/(4.*(-1+delta)**4)
dphidxi2(18)=-((-1+delta-xi(1))*xi(2)*(-1+delta-xi(3)))/(2.*(-1+delta)**4)
dphidxi2(19)=-(((-1+delta)**2-xi(1)**2)*(-1+delta-xi(3)))/(4.*(-1+delta)**4)
dphidxi2(20)=-((-1+delta+xi(1))*xi(2)*(-1+delta-xi(3)))/(2.*(-1+delta)**4)
