dphidxi3( 1)=-2.d0*aux(1)*(1.d0-aux(5))-aux(1)*(1.d0-2.d0*aux(5))
dphidxi3( 2)= 0.d0
dphidxi3( 3)= 0.d0
dphidxi3( 4)=2.d0*aux(1)*aux(4)-aux(1)*(1.d0-2.d0*aux(4))
dphidxi3( 5)=-4.d0*aux(1)*aux(2)
dphidxi3( 6)= 0.d0
dphidxi3( 7)=-4.d0*aux(1)*aux(3)
dphidxi3( 8)=-4.d0*aux(1)*aux(4)+4.d0*aux(1)*(1.d0-aux(5))
dphidxi3( 9)=-dphidxi3( 5)
dphidxi3(10)=-dphidxi3( 7)


