dphidxi1( 1)=-((-1+delta+xi(2))*(-1+delta-2*xi(1)-xi(2)-xi(3))*(-1+delta+xi(3)))/(8.*(-1+delta)**4)
dphidxi1( 2)=((-1+delta+xi(2))*(-1+delta+2*xi(1)-xi(2)-xi(3))*(-1+delta+xi(3)))/(8.*(-1+delta)**4)
dphidxi1( 3)=((-1+delta-xi(2))*(-1+delta+2*xi(1)+xi(2)-xi(3))*(-1+delta+xi(3)))/(8.*(-1+delta)**4)
dphidxi1( 4)=-((-1+delta-xi(2))*(-1+delta-2*xi(1)+xi(2)-xi(3))*(-1+delta+xi(3)))/(8.*(-1+delta)**4)
dphidxi1( 5)=-((-1+delta+xi(2))*(-1+delta-xi(3))*(-1+delta-2*xi(1)-xi(2)+xi(3)))/(8.*(-1+delta)**4)
dphidxi1( 6)=((-1+delta+xi(2))*(-1+delta-xi(3))*(-1+delta+2*xi(1)-xi(2)+xi(3)))/(8.*(-1+delta)**4)
dphidxi1( 7)=((-1+delta-xi(2))*(-1+delta-xi(3))*(-1+delta+2*xi(1)+xi(2)+xi(3)))/(8.*(-1+delta)**4)
dphidxi1( 8)=-((-1+delta-xi(2))*(-1+delta-xi(3))*(-1+delta-2*xi(1)+xi(2)+xi(3)))/(8.*(-1+delta)**4)
dphidxi1( 9)=-(xi(1)*(-1+delta+xi(2))*(-1+delta+xi(3)))/(2.*(-1+delta)**4)
dphidxi1(10)=-(((-1+delta)**2-xi(2)**2)*(-1+delta+xi(3)))/(4.*(-1+delta)**4)
dphidxi1(11)=-(xi(1)*(-1+delta-xi(2))*(-1+delta+xi(3)))/(2.*(-1+delta)**4)
dphidxi1(12)=(((-1+delta)**2-xi(2)**2)*(-1+delta+xi(3)))/(4.*(-1+delta)**4)
dphidxi1(13)=((-1+delta+xi(2))*((-1+delta)**2-xi(3)**2))/(4.*(-1+delta)**4)
dphidxi1(14)=-((-1+delta+xi(2))*((-1+delta)**2-xi(3)**2))/(4.*(-1+delta)**4)
dphidxi1(15)=-((-1+delta-xi(2))*((-1+delta)**2-xi(3)**2))/(4.*(-1+delta)**4)
dphidxi1(16)=((-1+delta-xi(2))*((-1+delta)**2-xi(3)**2))/(4.*(-1+delta)**4)
dphidxi1(17)=-(xi(1)*(-1+delta+xi(2))*(-1+delta-xi(3)))/(2.*(-1+delta)**4)
dphidxi1(18)=-(((-1+delta)**2-xi(2)**2)*(-1+delta-xi(3)))/(4.*(-1+delta)**4)
dphidxi1(19)=-(xi(1)*(-1+delta-xi(2))*(-1+delta-xi(3)))/(2.*(-1+delta)**4)
dphidxi1(20)=(((-1+delta)**2-xi(2)**2)*(-1+delta-xi(3)))/(4.*(-1+delta)**4)
