aux(1)=1.0d0-delta
aux(2)=-1.0d0/(aux(1)**3)
aux(3)=xi(1)+aux(1)
aux(4)=xi(1)-aux(1)
aux(5)=2.0d0*xi(2)+xi(1)
aux(6)=2.0d0*xi(2)-xi(1)
aux(7)=0.25d0*aux(2)
aux(8)=aux(2)*xi(2)
dphidxi2(1)=aux(7)*aux(4)*aux(5)
dphidxi2(2)=-aux(7)*aux(3)*aux(6)
dphidxi2(3)=-aux(7)*aux(3)*aux(5)
dphidxi2(4)=aux(7)*aux(4)*aux(6)
dphidxi2(5)=-0.5d0*aux(2)*aux(3)*aux(4)
dphidxi2(6)=aux(8)*aux(3)
dphidxi2(7)=-dphidxi2(5)
dphidxi2(8)=-aux(8)*aux(4)
