aux(9)=1.0d0/(1.0d0-delta)
aux(1)=xi(1)*aux(9)
aux(2)=xi(2)*aux(9)
aux(3)=0.25d0*(1.0d0+aux(1))
aux(4)=0.25d0*(1.0d0-aux(1))
aux(5)=1.0d0+aux(2)
aux(6)=1.0d0-aux(2)
aux(7)=1.0d0-aux(1)**2
aux(8)=1.0d0-aux(2)**2
phi(1)=aux(4)*aux(6)*(-aux(1)-aux(5))
phi(2)=aux(3)*aux(6)*(aux(1)-aux(5))
phi(3)=aux(3)*aux(5)*(aux(1)-aux(6))
phi(4)=aux(4)*aux(5)*(-aux(1)-aux(6))
phi(5)=0.5d0*aux(6)*aux(7)
phi(6)=2.0d0*aux(3)*aux(8)
phi(7)=0.5d0*aux(5)*aux(7)
phi(8)=2.0d0*aux(4)*aux(8)
