select case (etype)
  case (fbem_point1,fbem_tri1,fbem_quad1)
    phi(1)=1.d0
  case (fbem_tri3)
#   include <phi_tri3.rc>
  case (fbem_tri4)
#   include <phi_tri4.rc>
  case (fbem_tri6)
#   include <phi_tri6.rc>
  case (fbem_quad4)
#   include <phi_quad4.rc>
  case (fbem_quad8)
#   include <phi_quad8.rc>
  case (fbem_quad9)
#   include <phi_quad9.rc>
  case (fbem_line2point1)
#   include <phi_line2point1.rc>
  case (fbem_line3point1)
#   include <phi_line3point1.rc>
  case default
    call fbem_error_message(error_unit,0,__FILE__,__LINE__,&
                            'etype={point1,tri1,tri3,tri4,tri6,quad1,quad4,quad8,quad9,line2point1,line3point1}')
end select
