! en este elemento se puede mejorar eficiencia operativa

phi( 1)=(xi(1)*(-1+delta+xi(1))*xi(2)*(-1+delta+xi(2))*xi(3)*(-1+delta+xi(3)))/(8.*(-1+delta)**6)
phi( 2)=-((-1+delta-xi(1))*xi(1)*xi(2)*(-1+delta+xi(2))*xi(3)*(-1+delta+xi(3)))/(8.*(-1+delta)**6)
phi( 3)=((-1+delta-xi(1))*xi(1)*(-1+delta-xi(2))*xi(2)*xi(3)*(-1+delta+xi(3)))/(8.*(-1+delta)**6)
phi( 4)=-(xi(1)*(-1+delta+xi(1))*(-1+delta-xi(2))*xi(2)*xi(3)*(-1+delta+xi(3)))/(8.*(-1+delta)**6)
phi( 5)=-(xi(1)*(-1+delta+xi(1))*xi(2)*(-1+delta+xi(2))*(-1+delta-xi(3))*xi(3))/(8.*(-1+delta)**6)
phi( 6)=((-1+delta-xi(1))*xi(1)*xi(2)*(-1+delta+xi(2))*(-1+delta-xi(3))*xi(3))/(8.*(-1+delta)**6)
phi( 7)=-((-1+delta-xi(1))*xi(1)*(-1+delta-xi(2))*xi(2)*(-1+delta-xi(3))*xi(3))/(8.*(-1+delta)**6)
phi( 8)=(xi(1)*(-1+delta+xi(1))*(-1+delta-xi(2))*xi(2)*(-1+delta-xi(3))*xi(3))/(8.*(-1+delta)**6)
phi( 9)=(((-1+delta)**2-xi(1)**2)*xi(2)*(-1+delta+xi(2))*xi(3)*(-1+delta+xi(3)))/(4.*(-1+delta)**6)
phi(10)=-((-1+delta-xi(1))*xi(1)*((-1+delta)**2-xi(2)**2)*xi(3)*(-1+delta+xi(3)))/(4.*(-1+delta)**6)
phi(11)=-(((-1+delta)**2-xi(1)**2)*(-1+delta-xi(2))*xi(2)*xi(3)*(-1+delta+xi(3)))/(4.*(-1+delta)**6)
phi(12)=(xi(1)*(-1+delta+xi(1))*((-1+delta)**2-xi(2)**2)*xi(3)*(-1+delta+xi(3)))/(4.*(-1+delta)**6)
phi(13)=(xi(1)*(-1+delta+xi(1))*xi(2)*(-1+delta+xi(2))*((-1+delta)**2-xi(3)**2))/(4.*(-1+delta)**6)
phi(14)=-((-1+delta-xi(1))*xi(1)*xi(2)*(-1+delta+xi(2))*((-1+delta)**2-xi(3)**2))/(4.*(-1+delta)**6)
phi(15)=((-1+delta-xi(1))*xi(1)*(-1+delta-xi(2))*xi(2)*((-1+delta)**2-xi(3)**2))/(4.*(-1+delta)**6)
phi(16)=-(xi(1)*(-1+delta+xi(1))*(-1+delta-xi(2))*xi(2)*((-1+delta)**2-xi(3)**2))/(4.*(-1+delta)**6)
phi(17)=-(((-1+delta)**2-xi(1)**2)*xi(2)*(-1+delta+xi(2))*(-1+delta-xi(3))*xi(3))/(4.*(-1+delta)**6)
phi(18)=((-1+delta-xi(1))*xi(1)*((-1+delta)**2-xi(2)**2)*(-1+delta-xi(3))*xi(3))/(4.*(-1+delta)**6)
phi(19)=(((-1+delta)**2-xi(1)**2)*(-1+delta-xi(2))*xi(2)*(-1+delta-xi(3))*xi(3))/(4.*(-1+delta)**6)
phi(20)=-(xi(1)*(-1+delta+xi(1))*((-1+delta)**2-xi(2)**2)*(-1+delta-xi(3))*xi(3))/(4.*(-1+delta)**6)
phi(21)=(((-1+delta)**2-xi(1)**2)*((-1+delta)**2-xi(2)**2)*xi(3)*(-1+delta+xi(3)))/(2.*(-1+delta)**6)
phi(22)=(((-1+delta)**2-xi(1)**2)*xi(2)*(-1+delta+xi(2))*((-1+delta)**2-xi(3)**2))/(2.*(-1+delta)**6)
phi(23)=-((-1+delta-xi(1))*xi(1)*((-1+delta)**2-xi(2)**2)*((-1+delta)**2-xi(3)**2))/(2.*(-1+delta)**6)
phi(24)=-(((-1+delta)**2-xi(1)**2)*(-1+delta-xi(2))*xi(2)*((-1+delta)**2-xi(3)**2))/(2.*(-1+delta)**6)
phi(25)=(xi(1)*(-1+delta+xi(1))*((-1+delta)**2-xi(2)**2)*((-1+delta)**2-xi(3)**2))/(2.*(-1+delta)**6)
phi(26)=-(((-1+delta)**2-xi(1)**2)*((-1+delta)**2-xi(2)**2)*(-1+delta-xi(3))*xi(3))/(2.*(-1+delta)**6)
phi(27)=(1-xi(1)**2/(-1+delta)**2)*(1-xi(2)**2/(-1+delta)**2)*(1-xi(3)**2/(-1+delta)**2)
