select case (etype)
  case (fbem_point1)
    phi(1)=1.d0
    dphidxi1(1)=0.d0
    dphidxi2(1)=0.d0
    dphidxi3(1)=0.d0
  case (fbem_tet4)
#   include <aux_tet4.rc>
#   include <phi_tet4.rc>
#   include <dphidxi1_tet4.rc>
#   include <dphidxi2_tet4.rc>
#   include <dphidxi3_tet4.rc>
  case (fbem_tet10)
#   include <aux_tet10.rc>
#   include <phi_tet10.rc>
#   include <dphidxi1_tet10.rc>
#   include <dphidxi2_tet10.rc>
#   include <dphidxi3_tet10.rc>
  case (fbem_hex8)
#   include <aux_hex8.rc>
#   include <phi_hex8.rc>
#   include <dphidxi1_hex8.rc>
#   include <dphidxi2_hex8.rc>
#   include <dphidxi3_hex8.rc>
  case (fbem_hex20)
#   include <aux_hex20.rc>
#   include <phi_hex20.rc>
#   include <dphidxi1_hex20.rc>
#   include <dphidxi2_hex20.rc>
#   include <dphidxi3_hex20.rc>
  case (fbem_hex27)
#   include <aux_hex27.rc>
#   include <phi_hex27.rc>
#   include <dphidxi1_hex27.rc>
#   include <dphidxi2_hex27.rc>
#   include <dphidxi3_hex27.rc>
  case default
    call fbem_error_message(error_unit,0,__FILE__,__LINE__,&
                            'etype={point1,tet4,tet10,hex8,hex20,hex27}')
end select

