! en este elemento se puede mejorar eficiencia operativa
phi( 1)=0.125d0*aux(2)*aux(4)*aux(6)*(-2-xi(1)*aux(1)-xi(2)*aux(1)-xi(3)*aux(1))
phi( 2)=0.125d0*aux(3)*aux(4)*aux(6)*(-2+xi(1)*aux(1)-xi(2)*aux(1)-xi(3)*aux(1))
phi( 3)=0.125d0*aux(3)*aux(5)*aux(6)*(-2+xi(1)*aux(1)+xi(2)*aux(1)-xi(3)*aux(1))
phi( 4)=0.125d0*aux(2)*aux(5)*aux(6)*(-2-xi(1)*aux(1)+xi(2)*aux(1)-xi(3)*aux(1))
phi( 5)=0.125d0*aux(2)*aux(4)*aux(7)*(-2-xi(1)*aux(1)-xi(2)*aux(1)+xi(3)*aux(1))
phi( 6)=0.125d0*aux(3)*aux(4)*aux(7)*(-2+xi(1)*aux(1)-xi(2)*aux(1)+xi(3)*aux(1))
phi( 7)=0.125d0*aux(3)*aux(5)*aux(7)*(-2+xi(1)*aux(1)+xi(2)*aux(1)+xi(3)*aux(1))
phi( 8)=0.125d0*aux(2)*aux(5)*aux(7)*(-2-xi(1)*aux(1)+xi(2)*aux(1)+xi(3)*aux(1))
phi( 9)=0.25d0*aux(8)*aux(4)*aux(6)
phi(10)=0.25d0*aux(3)*aux(9)*aux(6)
phi(11)=0.25d0*aux(8)*aux(5)*aux(6)
phi(12)=0.25d0*aux(2)*aux(9)*aux(6)
phi(13)=0.25d0*aux(2)*aux(4)*aux(10)
phi(14)=0.25d0*aux(3)*aux(4)*aux(10)
phi(15)=0.25d0*aux(3)*aux(5)*aux(10)
phi(16)=0.25d0*aux(2)*aux(5)*aux(10)
phi(17)=0.25d0*aux(8)*aux(4)*aux(7)
phi(18)=0.25d0*aux(3)*aux(9)*aux(7)
phi(19)=0.25d0*aux(8)*aux(5)*aux(7)
phi(20)=0.25d0*aux(2)*aux(9)*aux(7)
