select case (etype)
  case (fbem_tri1)
#   include <xi_tri1.rc>
  case (fbem_tri3)
#   include <xi_tri3.rc>
  case (fbem_tri4)
#   include <xi_tri4.rc>
  case (fbem_tri6)
#   include <xi_tri6.rc>
  case (fbem_quad1)
#   include <xi_quad1.rc>
  case (fbem_quad4)
#   include <xi_quad4.rc>
  case (fbem_quad8)
#   include <xi_quad8.rc>
  case (fbem_quad9)
#   include <xi_quad9.rc>
  case (fbem_line2point1)
#   include <xi_line2point1.rc>
  case (fbem_line3point1)
#   include <xi_line3point1.rc>
  case default
    call fbem_error_message(error_unit,0,__FILE__,__LINE__,&
                            'etype={tri1,tri3,tri4,tri6,quad1,quad4,quad8,quad9,line2point1,line3point1}')
end select
