select case (node)
  case (1)
    xi(1)=-(1.d0-delta)
    xi(2)=-(1.d0-delta)
    xi(3)=-(1.d0-delta)
  case (2)
    xi(1)= (1.d0-delta)
    xi(2)=-(1.d0-delta)
    xi(3)=-(1.d0-delta)
  case (3)
    xi(1)= (1.d0-delta)
    xi(2)= (1.d0-delta)
    xi(3)=-(1.d0-delta)
  case (4)
    xi(1)=-(1.d0-delta)
    xi(2)= (1.d0-delta)
    xi(3)=-(1.d0-delta)
  case (5)
    xi(1)=-(1.d0-delta)
    xi(2)=-(1.d0-delta)
    xi(3)= (1.d0-delta)
  case (6)
    xi(1)= (1.d0-delta)
    xi(2)=-(1.d0-delta)
    xi(3)= (1.d0-delta)
  case (7)
    xi(1)= (1.d0-delta)
    xi(2)= (1.d0-delta)
    xi(3)= (1.d0-delta)
  case (8)
    xi(1)=-(1.d0-delta)
    xi(2)= (1.d0-delta)
    xi(3)= (1.d0-delta)
  case (9)
    xi(1)= 0.0d0
    xi(2)=-(1.d0-delta)
    xi(3)=-(1.d0-delta)
  case (10)
    xi(1)= (1.d0-delta)
    xi(2)= 0.0d0
    xi(3)=-(1.d0-delta)
  case (11)
    xi(1)= 0.0d0
    xi(2)= (1.d0-delta)
    xi(3)=-(1.d0-delta)
  case (12)
    xi(1)=-(1.d0-delta)
    xi(2)= 0.0d0
    xi(3)=-(1.d0-delta)
  case (13)
    xi(1)=-(1.d0-delta)
    xi(2)=-(1.d0-delta)
    xi(3)= 0.0d0
  case (14)
    xi(1)= (1.d0-delta)
    xi(2)=-(1.d0-delta)
    xi(3)= 0.0d0
  case (15)
    xi(1)= (1.d0-delta)
    xi(2)= (1.d0-delta)
    xi(3)= 0.0d0
  case (16)
    xi(1)=-(1.d0-delta)
    xi(2)= (1.d0-delta)
    xi(3)= 0.0d0
  case (17)
    xi(1)= 0.0d0
    xi(2)=-(1.d0-delta)
    xi(3)= (1.d0-delta)
  case (18)
    xi(1)= (1.d0-delta)
    xi(2)= 0.0d0
    xi(3)= (1.d0-delta)
  case (19)
    xi(1)= 0.0d0
    xi(2)= (1.d0-delta)
    xi(3)= (1.d0-delta)
  case (20)
    xi(1)=-(1.d0-delta)
    xi(2)= 0.0d0
    xi(3)= (1.d0-delta)
  case default
    call fbem_error_message(output_unit,0,__FILE__,__LINE__,&
                            'node does not exist')
end select
