select case (node)
  case (1)
    xi(1)=-1.0d0+delta
    xi(2)=0.0d0
  case (2)
    xi(1)=1.0d0-delta
    xi(2)=0.0d0
  case default
    call fbem_error_message(output_unit,0,__FILE__,__LINE__,&
                            'node does not exist')
end select
